body {
  font-family: 'Comic Sans';
}
body {
	background: url(fondo.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.barsup {
	text-align: left;
	height: 60px;
	
}
h2 {
	font-size: 28px;
}	
.barsup li{
	display: inline-block;
	list-style-type: none;
	margin-left: 15px;
	background: black;
	padding: 5px;
	border-radius: 5px;
	margin-top:10px; 
}

.barsup li a{
	color:white;
	padding:5px;
	text-decoration: none;
}

.barsup li:hover{
	color: black;
	background: gray;
}

.barsup li a:hover{
	color: black;
	background: gray;
}

.texto {
    width: 60%;
	margin: 50px auto;
	text-align : justify;
}

.texto article header {
	margin: 25px auto;
	border: 5px dotted gray;
	text-align: center;
	height:50px;
}

.text p{
	text-align: justify;
}
.proyecto {
    width: 60%;
	margin: 50px auto;
}
.visual {
    width: 60%;
	margin: 50px auto;
}
.visual article header {
	margin: 25px auto;
	border: 5px dotted gray;
	text-align: center;
	height:50px;
}
.visual p{
	text-align: justify;
}
.contenedor{
    width: 60%;
    margin: 0 auto; 
	text-align: center;
}
.proyecto article header {
	margin: 25px auto;
	border: 5px dotted gray;
	text-align: center;
	height:50px;
}
.proyecto p{
	text-align: justify;
}
.nombres article header {
	font-size: 20
	text-align: left;
	text-decoration: none;
}
img{
	display: block;
	max-width: 600px;
	max-height: 600px;
	width: auto;
	height: auto;
	margin-left: auto;
    margin-right: auto;
	
}
